.planet {
  background-color: #e9edc9;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.planet > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.planet > div > img {
  width: 200px;
  height: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fefae0;
}

nav {
  background-color: #faedcd;
  padding: 20px;
  text-align: center;
  color: #d4a373;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}
