body {
    font-family: Arial, sans-serif;
    background-color: #FEFAE0;
}

nav {
    background-color: #FAEDCD;
    padding: 20px;
    text-align: center;
    color: #D4A373;
    text-decoration: none;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 300px;
    gap: 20px;
}

section {
    background-color: #E9EDC9;
    border-radius: 8px;
    padding: 10px;
}

section h1 {
    font-size: 20px;
}

section img {
    width: 200px;
    height: 200px;
}